.head {
    display: block;
    width: auto;
    height: 90px;
    background-color: #cccccc;
}

.head li {
    display: inline-block;    
    margin-right: 40px;
    float: right;
    line-height: 90px;      
}

.home {
    display: block;
    width: 1100px;
    height: 800px;
    margin: auto;
    background-color: aqua;
}

.pro {
    display: block;
    background-color: white;
    width: 160px;
}

